*{
    font-family: "Archivo Narrow", sans-serif;
}

.arial-font {
    font-family: "Arial";
}

#header {
    background: url("imgs/earn-your-degree-faster-with-flexible-online-learning.jpg") no-repeat center;
    background-size: cover;
    height: 80vh;
}

#gray-callout-section {
    background: #eeede8 url("imgs/burst-bottom.png") no-repeat top center;
}

#find-online-program-section {
    background: url("imgs/find-the-online-program-that-is-right-for-you.jpg") no-repeat center;
    background-size: cover;
}

#match-your-interest-section {
    background: url("imgs/burst-full-circle.svg") no-repeat top center;
}

#floating-chat {
    position:fixed;
    right:0;
    bottom:0;
    margin: 0 20px 20px 0;
}

/* Border Spacers + Media Queries Start */
#take-three-weeks-text-container {
    border-right: 1px solid #000000;
}

#earn-credits-left-section {
    border-right: 1px solid #ffffff;
}

@media screen and (max-width: 767px) {
    #take-three-weeks-text-container {
        border-right: none;
        border-bottom: 2px solid #000000;
    }

    #earn-credits-left-section {
        border-right: none;
        border-bottom: 1px solid #ffffff;
    }
}
/* Border Spacers + Media Queries End */

/* Buttons and text color to match Purdue Global Start */
.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 30px;
}

.btn-warning {
    background-color: #c28e0e;
}

.btn-warning:hover {
    background-color: #c28e0e;
    color: #000000 !important;
}

.btn-outline-warning {
    background-color: transparent;
    border: 2px solid #98700d;
}

.btn-outline-warning:hover {
    background-color: #98700d;
    border: 2px solid #98700d;
}

.border-warning {
    border-color: #97700d !important;
}

.purdue-gold-text {
    color: #cd970e;
}

.purdue-dark-gold-text {
    color: #97700d;
}

.purdue-footer-gold-text {
    color: #c28e0e;
}

#earn-credits-section {
    background: #363332;
}
/* Buttons and text color to match Purdue Global End */