*{
    font-family: "Archivo Narrow", sans-serif;
}

.arial-font {
    font-family: "Arial";
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 30px;
}

.purdue-gold-text {
    color: #cd970e;
}

.purdue-dark-gold-text {
    color: #97700d;
}

.purdue-footer-gold-text {
    color: #c28e0e;
}

#header {
    background-image: url("assets/imgs/earn-your-degree-faster-with-flexible-online-learning.jpg");
    background-size: cover;
    height: 80vh;
}

#gray-callout-section {
    background: #eeede8 url("assets/imgs/burst-bottom.png") no-repeat center;
}

#find-online-program-section {
    background: url("assets/imgs/find-the-online-program-that-is-right-for-you.jpg") no-repeat center;
}

#percent-image {
    width: 90%;
}

#earn-credits-section {
    background: #363332;
}